p{
    background-color: rgb(50, 233, 123);
    margin-bottom: auto;
}
.bg{
    background-image: url(../Site/IMG/Que-es-la-topografia-y-cuales-son-sus-objetivos-II-1-800x534.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    filter: blur(2px);
}

h1 {
    border: 1px solid black;
    border-radius: 5%;
    border-width: 10px;
    width: fit-content;
    margin: auto;
}

